* {
    box-sizing: border-box;
}

body {
    line-height: 1.5rem;
    font-size: 16px;
}

p {
    margin: 0 0 15px 0
}

:root {
    --icon-width: 40px;
    --large-icon-width: 75px;
    --large-icon-height: 75px;
}

button {
    width: fit-content;
}

.btn {
    padding: .5rem 1.5rem;
    border: none;
}

.btn-pill {
    border-radius: 1rem;
}

span.small {
    font-size: .75rem;
}

.lead {
    font-size: 1.5rem;
    font-weight: 700
}

.user-name {
    font-weight: 700;
}

.icon {
    width: 40px;
}

.icon.large {
    width: var(--large-icon-width);
    height: var(--large-icon-height);
}

.icon.title {
    width: 55px;
    height: 55px;
}

.icon img {
    width: 40px;
    height: 40px;
}

.icon.large img {
    width: var(--large-icon-width);
    height: var(--large-icon-height)
}

.icon.title img {
    width: 55px;
    height: 55px;
}

#search-bar {
    width: min(600px, 100%);
}

.grid {
    display: grid;
}

.grid.layout {
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    height: 100%;
}

.grid.layout > div {
    padding: 1rem;
    border:1px solid black;
}

.grid.header {
    grid-column: 2 / 5;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    height: minmax(200px, 20%);
}

.grid.header > div {
    align-items: center;
}

.grid.header .grid.search-area {
    grid-template-columns: auto 4fr;
    gap: 10px;
}

.grid.header .grid.account-area {
    grid-template-columns: repeat(2, var(--icon-width)) 150px;
    justify-items: right;
    gap: 1rem;
    justify-content: right;

}

.grid.header .grid.user-info {
    grid-template-columns: calc(var(--large-icon-width) + 10px) auto;
}

.grid.header .grid.buttons {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    justify-items: center;
}

.grid.sidebar {
    grid-row: 1 / 5;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content 3fr 1fr;
    grid-auto-rows: 1fr;
}

.grid.sidebar > div {
    grid-column: 1 / 3;
    grid-template-columns: inherit;
    margin-bottom: 4rem;
    align-items: center;
}

.grid-sidebar .sidebar-top {
    grid-row: 1fr;
}

.grid.main-content {
    grid-row: 2 / 5;
    grid-column: 2 / 5;
}

